body {
  padding-top: 70px;
}
footer {
  background-color: #f2f2f2;
  padding: 25px;
    }
.navbar {
  margin-bottom: 0;
  border-radius: 0;
    }
form a {
  margin: 30px 10px 30px 10px;
}
.card {
  margin: 50px 10px 50px 10px;
}
.has-danger {
  color: red;
}
.login{
  margin: 30px 10px 30px 10px;
}
.profile-pic {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-top:10px;


  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.chart-area {
  background-color: #FFFBFB;
  border-color: #49cc90!important;
}
.container-fluid {
  margin-left: 30px!important;
  margin-right: 30px!important;
}
.card-outline-success {
  border-color:#49cc90!important;
}
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
.selected {
  stroke-width: .7;
}